{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
  <!-- CSS  --><link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}" />

  <!--  Scripts-->
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
    <script>  $(document).ready(function() {
    Materialize.updateTextFields();
  });</script>
</head>
<title>Register on sponsdo</title>

<body>

<div style="padding-top:15vh;">
<div class="row">

    <div class="col s12 m2 l2">
        <p></p>
    </div>

    <div class="col s12 m3 l3">
        <a href="{% url 'main:index' %}"><img src="{% static 'img/logo.png' %}" width="70%"></a>
        <br><br>
        <h3 class="white-text">Register for creating a new campaign, check progress of current campaigns, finance etc.</h3>
    </div>

    <div class="col s12 m2 l2">
        <p></p>
    </div>


    <div class="col s12 m3 l3 white">
        <br>

        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}

            <form method="post" action="" role="form">
            {% csrf_token %}

                <div class="input-field col s12 m12 l12">
                    <i class="material-icons prefix">perm_identity</i>
                    <label for="id_username">Username</label>
                        <input id="id_username" name="username" type="text">
                </div>

                <div class="input-field col s12 m12 l12">
                    <i class="material-icons prefix">email</i>
                    <label for="id_email">Email</label>
                        <input id="id_email" name="email" type="text">
                </div>

                <div class="input-field col s12 m12 l12">
                    <i class="material-icons prefix">vpn_key</i>
                    <label for="id_password">Password</label>
                        <input id="id_password" name="password" type="password">
                </div>

                <div class="input-field col s12 m12 l12">
                            <i class="material-icons prefix">toc</i>
                            <label for="id_first_name"></label>
                        <select name="first_name">
                            <option value="disabled selected">Choose</option>
                            <option name="first_name" value="Publisher" id="id_first_name">Publisher</option>
                            <option name="first_name" value="Company" id="id_first_name">Company</option>
                        </select>

                </div>

                <div class="input-field col s12 m12 l12">
                    <i class="material-icons prefix">web</i>
                    <label for="id_last_name">URL of website</label>
                        <input id="id_last_name" name="last_name" type="text">
                </div>


                <div class="col s12">
                    <button type="submit" id="download-button"
                            class="btn waves-effect waves-light deep-orange darken-4">
                        <i class="material-icons prefix left">input</i>Register</button><br><br>
                </div>

            </form>

    <p><br><br><a href="{% url 'dashboard:login_user' %}" class="blue-text">Login</a>
    <br><small>Having any problem? Mail at help@sponsdo.com</small></p>
    </div>

    <div class="col s12 m2 l2"><p></p></div>


</div>
</div>

<div class="parallax"><img src="{% static 'img/background1.jpg' %}" </div>

</body>
